# COMM054 - Revised Version (Recalling Past Work)

## Loading ATLAS Data and Labels

In [5]:
import pandas as pd
import numpy as np
import sklearn

atlas_data = pd.read_csv('COMM054Dataset\ATLAS-data.csv')
atlas_labels = pd.read_csv('COMM054Dataset\ATLAS-labels.csv')

atlas_data.head()

,243.128,96.455,158.618,90.253,0.693,56.238,1.581,3.615,13.597,264.586,...,72.877,2.121,376.41,46.248,-0.958,-0.444,42.759,-1.651,-1.445,157.638
0,139.751,74.028,111.619,44.266,2.119,104.723,-0.498,2.533,9.437,168.638,...,20.147,0.447,252.698,36.798,0.269,-1.254,31.816,-1.849,0.664,68.614
1,116.217,73.136,59.239,101.850,0.625,85.539,2.979,1.922,28.049,202.636,...,68.144,1.816,271.485,82.453,2.066,-1.210,58.216,1.442,-2.288,140.669
2,64.544,0.099,28.945,341.418,2.390,358.936,-1.181,0.714,35.293,508.349,...,243.099,-2.409,470.806,331.152,-1.693,0.615,41.742,0.697,1.083,409.977
3,32.281,67.393,26.006,29.088,1.330,108.191,-0.362,0.846,48.389,152.087,...,32.186,-1.421,244.220,48.198,0.949,1.517,40.382,-0.382,-2.029,88.580
4,135.018,97.900,106.636,77.614,2.530,239.596,-1.207,2.698,66.300,320.620,...,21.931,1.605,257.142,96.266,0.638,2.543,45.109,-1.892,-1.956,184.771

## Preprocessing Data

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier


X, y = load_iris(return_X_y=True)

In [16]:
clf = RandomForestClassifier(max_depth=2, random_state=0)

sfs = SequentialFeatureSelector(clf, n_features_to_select=3)

sfs.fit(X,y)

SequentialFeatureSelector(estimator=RandomForestClassifier(max_depth=2,
                                                           random_state=0),
                          n_features_to_select=3)

In [17]:
sfs.get_support()

array([ True, False,  True,  True])